@font-face {
	font-family: 'Inter Medium';
	font-display: swap;
	src: url("../fonts/FontsFree-Net-Inter-Medium.woff2"), url("../fonts/FontsFree-Net-Inter-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'SFProDisplay-Black';
	font-display: swap;
	src: url("../fonts/FontsFree-Net-SFProDisplay-Black.woff2"), url("../fonts/FontsFree-Net-SFProDisplay-Black.woff2") format("woff2");
	font-style: normal;
}


@font-face {
	font-family: 'SFProDisplay-Regular';
	font-display: swap;
	src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff2"), url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr Bold';
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr Medium';
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Medium.woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'Inter-Bold';
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2"), url("../fonts/Inter-Bold.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'Inter-Regular';
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2"), url("../fonts/Inter-Regular.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Bold';
	font-display: swap;
	src: url("../fonts/open-sans.bold.woff2"), url("../fonts/open-sans.bold.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Light';
	font-display: swap;
	src: url("../fonts/open-sans.light.woff2"), url("../fonts/open-sans.light.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Regular';
	font-display: swap;
	src: url("../fonts/open-sans.regular.woff2"), url("../fonts/open-sans.regular.woff2") format("woff2");
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Semibold';
	font-display: swap;
	src: url("../fonts/open-sans.semibold.woff2"), url("../fonts/open-sans.semibold.woff2") format("woff2");
	font-style: normal;
}